.cartoon-img{
    width: 100%;
    margin-top: 6.8rem;
}
.row{
    margin-right: 0 !important;
}
@media only screen  and (max-width : 1224px) {
    /* Styles */
    .large{
        display: none
    }
    .cartoon-img{
        width: 100%;
        margin-top: 6.8rem;
        margin-left: 5px;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .cartoon-img{
        margin-top: 2rem;
    }
}
