/* .small-heading{
    font-size: 1rem;
    font-family: Lato, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: 3px;
} */
.section-heading{
    font-family: "EB Garamond", serif;
    font-size: 50px;
    color: rgb(34, 34, 34);
    display: grid;
    font-weight: 500;
    margin-right: 50px;
}
.section-text{
    width: 16rem;
    font-family: Lato, sans-serif;
    font-size: 20px;
    color: rgb(35, 35, 35);
    letter-spacing: 1px;
    text-align: start;
    margin-right: 10%;
    line-height: 30px;
}
.right-section{
    margin-top: 3rem;
    text-align: left;
}
.left-section{
    text-align: left;
    margin-top: 3rem;
}
.image-left img{
    object-fit: cover;
    width: 80%;
    height: 100%;
    margin-left: -21rem;
}
.image img{
    margin-left: 5rem;
    width: 60%;
    height: 100%;
}

@media only screen  and (max-width : 1224px) {
    
    svg{
        display: none;
    }
    .left-section{
        margin-top:-2rem;
    }
    .image img{
        object-fit: cover;
        width: 100%;
        height: 500px;
        margin-left: 3px;
    }
    .section-text{
        width: 100%;
    }
    .image-left img {
        object-fit: cover;
        width: 100%;
        height: 500px;
        margin-left: 0
    };
}
