.join
{
    background: white;
    margin-top: 2rem;
}
.join-text{
    font-family: Lato, sans-serif;
    color: rgb(35, 35, 35);
    letter-spacing: 0.2px;
    line-height: 48px;
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
}
.join-heading h1{
    font-family: "EB Garamond", serif;
    font-size: 4rem;
    font-weight: bolder;
    color: rgb(35, 35, 35);
    letter-spacing: -1.25px;
    text-align: center;
    line-height: 88px;
    margin-top: 1.5rem;
}

.join-a {
    margin-top: 1.4rem;
    margin-bottom: 3rem;
}
.join-a a{
    margin-top: 2rem;
    color: rgb(255, 89, 77);
    border-bottom: 1px solid;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    word-spacing: 4px;
    letter-spacing: 5px;
}