.opinion-box{
    background: white !important;
    text-align: left;
    padding-left: 7rem;
}
.opinion-box img{
    margin-top: 5rem;
    margin-left: -1rem;
    height: 4.7rem !important;
    padding: 0;
}
.opinion-text{
    font-family: Lato, sans-serif;
    font-size: 22px;
    color: rgb(35, 35, 35);
    letter-spacing: 0.2px;
    line-height: 36px;
    display: grid;
    text-align: start;
    width: 70%;
    margin-left: -2rem;
    margin-right: 50px;
    margin-top: 2rem;
}
.more-button{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(255, 89, 77);
    color: rgb(255, 89, 77);
    margin-left: -1.2rem;
    width: 42%;
    text-align: left;
    text-transform: uppercase;
}
.opinion-image{
    padding: 0;
}
.opinion-image img{
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* margin-left: -1rem; */
}

@media screen and (max-width: 1228px) {
    .opinion { display: flex; flex-flow: column; }
    .opinion-image { order: 1; }
    .opinion-box { order: 2;  }
    .opinion-image img{
        padding: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .opinion-box{
        padding-left: 5rem;
        
    }
    .opinion-box img{
        height: 3.6rem !important;
        margin-top: 3rem
    }
    .opinion-text{
        width: 100%;
    }
    .more-button{
        width: 10rem;
    }
}