.platform-text{
    font-family: "EB Garamond", serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    letter-spacing: 1px;
}
.platform-cols{
    margin-top: 2rem
}
.left-col{
    font-family: Lato, sans-serif;
    font-size: 22px;
    color: rgb(35, 35, 35);
    letter-spacing: 0.2px;
    line-height: 36px;
    text-align: left;
}
.right-col{
    font-family: Lato, sans-serif;
    font-size: 22px;
    color: rgb(35, 35, 35);
    letter-spacing: 0.2px;
    line-height: 36px;
    text-align: left;
}
.platform-button{
    font-family: Lato, sans-serif;
    font-size: 16px;
    letter-spacing: 2.1px;
    margin-top: 1.5rem;
    color:rgb(255, 89, 77);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 89, 77);
    text-transform: uppercase;
    background-color: rgb(255, 238, 210);
}